<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.tongji.springbackend.mapper.ActivityMapper">
    <insert id="insertActivity" parameterType="activity" useGeneratedKeys="true" keyProperty="actId">
        INSERT INTO activity (act_name, act_intro, act_location, ticket_price, upload_time,
                              reg_start_time, reg_end_time, act_time, act_capacity, act_left,
                              act_rating, rating_num, soc_id)
        VALUES (#{actName}, #{actIntro}, #{actLocation}, #{ticketPrice}, #{uploadTime},
                #{regStartTime}, #{regEndTime}, #{actTime}, #{actCapacity}, #{actLeft},
                #{actRating}, #{ratingNum}, #{socId})
    </insert>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM activity
    </select>

    <select id="getCountBySocId" resultType="int">
        SELECT COUNT(*)
        FROM activity
        WHERE soc_id = #{socId};
    </select>

    <select id="getByActId" resultType="activity">
        SELECT * FROM activity
        WHERE act_id = #{actId};
    </select>

    <select id="getByPage" resultType="activity">
        SELECT * FROM activity
        ORDER BY upload_time DESC
        LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <update id="update" parameterType="activity">
        UPDATE activity
        <set>
            <if test="actName != null and actIntro != ''">
                act_name = #{actName},
            </if>
            <if test="actIntro != null and actIntro != ''">
                act_intro = #{actIntro},
            </if>
            <if test="actLocation != null and actLocation != ''">
                act_location = #{actLocation},
            </if>
            <if test="ticketPrice != null">
                ticket_price = #{ticketPrice},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime},
            </if>
            <if test="regStartTime != null">
                reg_start_time = #{regStartTime},
            </if>
            <if test="regEndTime != null">
                reg_end_time = #{regEndTime},
            </if>
            <if test="actTime != null">
                act_time = #{actTime},
            </if>
            <if test="actCapacity != null">
                act_capacity = #{actCapacity},
            </if>
            <if test="actLeft != null">
                act_left = #{actLeft},
            </if>
            <if test="actRating != null">
                act_rating = #{actRating},
            </if>
            <if test="ratingNum != null">
                rating_num = #{ratingNum}
            </if>
        </set>
        WHERE act_id = #{actId};
    </update>

    <resultMap id="activityResultMap" type="activity">
        <!-- Add result mappings for each field in the Student class -->
    </resultMap>
    <select id="getActivityListByRange" resultMap="activityResultMap">
        SELECT * FROM activity
        LIMIT #{pageSize} OFFSET #{startRow}
    </select>

    <!-- 获取社团活动的SQL查询 -->
    <select id="getSocActivities" resultType="activity">
        SELECT * FROM activity
        WHERE 1=1
        <if test="socId != null">
            AND soc_id = #{socId}
        </if>
        <if test="keyword != null and !keyword.isEmpty()">
            AND act_id IN (
            SELECT act_id FROM activity_keyword
            WHERE keyword IN
            <foreach item="item" collection="keyword" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="query != null and !query.isEmpty()">
            AND (act_name LIKE CONCAT('%', #{query}, '%') OR
            act_intro LIKE CONCAT('%', #{query}, '%'))
        </if>
        <!-- 其他条件 -->
    </select>


    <update id="updateActivity" parameterType="activity">
        UPDATE activity
        <set>
            <if test="actName != null">act_name = #{actName},</if>
            <if test="actIntro != null">act_intro = #{actIntro},</if>
            <if test="actLocation != null">act_location = #{actLocation},</if>
            <if test="ticketPrice != null">ticket_price = #{ticketPrice},</if>
            <if test="regStartTime != null">reg_start_time = #{regStartTime},</if>
            <if test="regEndTime != null">reg_end_time = #{regEndTime},</if>
            <if test="actTime != null">act_time = #{actTime},</if>
            <if test="actCapacity != null">act_capacity = #{actCapacity},</if>
            <!-- 添加其他需要更新的字段 -->
        </set>
        WHERE act_id = #{actId}
    </update>

    <select id="getByPageAndSocId" resultType="activity">
        SELECT * FROM activity
        WHERE soc_id = #{socId}
        LIMIT #{pageSize} OFFSET #{startRow};
    </select>

</mapper>