<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace指向mapper.xml所对应的Mapper接口-->
<mapper namespace="cn.edu.tongji.springbackend.mapper.StudentMapper">
    <resultMap id="studentResultMap" type="student">
        <!-- Add result mappings for each field in the Student class -->
    </resultMap>

    <select id="getStudentById" resultMap="studentResultMap">
        SELECT * FROM student WHERE stu_id = #{stuId}
    </select>

    <insert id="insertStudent" parameterType="student">
        INSERT INTO student (stu_id, stu_name, stu_year, stu_school, stu_major, stu_notes)
        VALUES (#{stuId}, #{stuName}, #{stuYear}, #{stuSchool}, #{stuMajor}, #{stuNotes})
    </insert>

    <update id="updateStudent" parameterType="student">
        UPDATE student
        SET
            stu_name = #{stuName},
            stu_year = #{stuYear},
            stu_school = #{stuSchool},
            stu_major = #{stuMajor},
            stu_notes = #{stuNotes}
        WHERE stu_id = #{stuId}
    </update>

    <select id="getStudentListByRange" resultMap="studentResultMap">
        SELECT * FROM student
        LIMIT #{pageSize} OFFSET #{startRow}
    </select>
</mapper>