<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace指向mapper.xml所对应的Mapper接口-->
<mapper namespace="cn.edu.tongji.springbackend.mapper.UserMapper">
    <select id="getAll" resultType="user">
        SELECT * FROM user;
    </select>

    <select id="getUserById" parameterType="int" resultType="user">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, email, phone, campus, login_status, account_status, balance, pay_password, reg_time, role)
        VALUES (#{username}, #{password}, #{email}, #{phone}, #{campus}, #{loginStatus}, #{accountStatus}, #{balance}, #{payPassword}, #{regTime}, #{role})
    </insert>

    <select id="getUserByUsername" resultType="user">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE user
        SET
            email = #{email},
            phone = #{phone},
            campus = #{campus},
            account_status = #{accountStatus}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM user
        WHERE id = #{userId};
    </delete>

    <select id="getCountByUserRole" resultType="int">
        SELECT COUNT(*) FROM user
        WHERE role = #{role};
    </select>
</mapper>
